* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #aaffaa;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    animation: wave 25s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(150deg);
    }
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.contact-form {
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("✈️");
    width: 40px;
    height: 40px;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}

button:hover::before {
    transform: translateX(200%);
    opacity: 1;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

#thank-you {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thank-you p {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
